//Import carbon themes
@import "@carbon/themes/scss/themes";

$blue-100: hsl(212,100%,5%);
$blue-90: hsl(212,100%,10%);
$blue-80: hsl(212,100%,20%);
$blue-70: hsl(212,100%,30%);
$blue-60: hsl(212,100%,36%);
$blue-50: hsl(212,100%,46%);
$blue-40: hsl(212,100%,58%);
$blue-30: hsl(212,100%,70%);
$blue-20: hsl(212,100%,80%);
$blue-10: hsl(212,100%,90%);
$blue-0: hsl(212,100%,95%);
$pink-100: #190011;
$pink-90: #41012c;
$pink-80: #5a013d;
$pink-70: #88025b;
$pink-60: #bf0380;
$pink-50: #fb18b0;
$pink-40: #fc4bc1;
$pink-30: #fd7cd2;
$pink-20: #feaae2;
$pink-10: #fecdee;
$pink-0: #ffebf8;
$yellow-100: #191500;
$yellow-90: #413701;
$yellow-80: #5a4c01;
$yellow-70: #887102;
$yellow-60: #bfa003;
$yellow-50: #fcd617;
$yellow-40: #fcde4b;
$yellow-30: #fde87c;
$yellow-20: #fef0aa;
$yellow-10: #fef6cd;
$yellow-0: #fffbeb;
$green-100: #001909;
$green-90: #014116;
$green-80: #015a1f;
$green-70: #02882f;
$green-60: #03bf42;
$green-50: #18fb64;
$green-40: #4bfc86;
$green-30: #7cfda7;
$green-20: #aafec6;
$green-10: #cdfedd;
$green-0: #ebfff2;
$cyan-100: #001919;
$cyan-90: #014140;
$cyan-80: #015a59;
$cyan-70: #028885;
$cyan-60: #03bfbc;
$cyan-50: #2cfcf8;
$cyan-40: #4afcf9;
$cyan-30: #7cfdfb;
$cyan-20: #aafefc;
$cyan-10: #cdfefd;
$cyan-0: #ebfffe;
$purple-100: #0e001a;
$purple-90: #230141;
$purple-80: #31015a;
$purple-70: #6703bf;
$purple-60: #490288;
$purple-50: #9118fb;
$purple-45: #7d04e7;
$purple-40: #a94afc;
$purple-30: #c17cfd;
$purple-20: #d6aafe;
$purple-10: #e7cdfe;
$purple-0: #f5ebff;

:export {
  Blue100: $blue-100;
  Blue90: $blue-90;
  Blue80: $blue-80;
  Blue70: $blue-70;
  Blue60: $blue-60;
  Blue50: $blue-50;
  Blue40: $blue-40;
  Blue30: $blue-30;
  Blue20: $blue-20;
  Blue10: $blue-10;
  Blue0: $blue-0;
  Pink100: $pink-100;
  Pink90: $pink-90;
  Pink80: $pink-80;
  Pink70: $pink-70;
  Pink60: $pink-60;
  Pink50: $pink-50;
  Pink40: $pink-40;
  Pink30: $pink-30;
  Pink20: $pink-20;
  Pink10: $pink-10;
  Pink0: $pink-0;
  Yellow100: $yellow-100;
  Yellow90: $yellow-90;
  Yellow80: $yellow-80;
  Yellow70: $yellow-70;
  Yellow60: $yellow-60;
  Yellow50: $yellow-50;
  Yellow40: $yellow-40;
  Yellow30: $yellow-30;
  Yellow20: $yellow-20;
  Yellow10: $yellow-10;
  Yellow0: $yellow-0;
  Green100: $green-100;
  Green90: $green-90;
  Green80: $green-80;
  Green70: $green-70;
  Green60: $green-60;
  Green50: $green-50;
  Green40: $green-40;
  Green30: $green-30;
  Green20: $green-20;
  Green10: $green-10;
  Green0: $green-0;
  Cyan100: $cyan-100;
  Cyan90: $cyan-90;
  Cyan80: $cyan-80;
  Cyan70: $cyan-70;
  Cyan60: $cyan-60;
  Cyan50: $cyan-50;
  Cyan40: $cyan-40;
  Cyan30: $cyan-30;
  Cyan20: $cyan-20;
  Cyan10: $cyan-10;
  Cyan0: $cyan-0;
  Purple100: $purple-100;
  Purple90: $purple-90;
  Purple80: $purple-80;
  Purple70: $purple-70;
  Purple60: $purple-60;
  Purple50: $purple-50;
  Purple45: $purple-45;
  Purple40: $purple-40;
  Purple30: $purple-30;
  Purple20: $purple-20;
  Purple10: $purple-10;
  Purple0: $purple-0;
}
