//Import carbon themes
@import "@carbon/themes/scss/themes";

$all1map-pink-100: #190011;
$all1map-pink-90: #41012c;
$all1map-pink-80: #5a013d;
$all1map-pink-70: #88025b;
$all1map-pink-60: #bf0380;
$all1map-pink-50: #fb18b0;
$all1map-pink-40: #fc4bc1;
$all1map-pink-30: #fd7cd2;
$all1map-pink-20: #feaae2;
$all1map-pink-10: #fecdee;
$all1map-pink-0: #ffebf8;
$all1map-yellow-100: #191500;
$all1map-yellow-90: #413701;
$all1map-yellow-80: #5a4c01;
$all1map-yellow-70: #887102;
$all1map-yellow-60: #bfa003;
$all1map-yellow-50: #fcd617;
$all1map-yellow-40: #fcde4b;
$all1map-yellow-30: #fde87c;
$all1map-yellow-20: #fef0aa;
$all1map-yellow-10: #fef6cd;
$all1map-yellow-0: #fffbeb;
$all1map-green-100: #001909;
$all1map-green-90: #014116;
$all1map-green-80: #015a1f;
$all1map-green-70: #02882f;
$all1map-green-60: #03bf42;
$all1map-green-50: #18fb64;
$all1map-green-40: #4bfc86;
$all1map-green-30: #7cfda7;
$all1map-green-20: #aafec6;
$all1map-green-10: #cdfedd;
$all1map-green-0: #ebfff2;
$all1map-cyan-100: #001919;
$all1map-cyan-90: #014140;
$all1map-cyan-80: #015a59;
$all1map-cyan-70: #028885;
$all1map-cyan-60: #03bfbc;
$all1map-cyan-50: #2cfcf8;
$all1map-cyan-40: #4afcf9;
$all1map-cyan-30: #7cfdfb;
$all1map-cyan-20: #aafefc;
$all1map-cyan-10: #cdfefd;
$all1map-cyan-0: #ebfffe;
$all1map-purple-100: #0e001a;
$all1map-purple-90: #230141;
$all1map-purple-80: #31015a;
$all1map-purple-70: #6703bf;
$all1map-purple-60: #490288;
$all1map-purple-50: #9118fb;
$all1map-purple-45: #7d04e7;
$all1map-purple-40: #a94afc;
$all1map-purple-30: #c17cfd;
$all1map-purple-20: #d6aafe;
$all1map-purple-10: #e7cdfe;
$all1map-purple-0: #f5ebff;

:export {
  all1mapPink100: $all1map-pink-100;
  all1mapPink90: $all1map-pink-90;
  all1mapPink80: $all1map-pink-80;
  all1mapPink70: $all1map-pink-70;
  all1mapPink60: $all1map-pink-60;
  all1mapPink50: $all1map-pink-50;
  all1mapPink40: $all1map-pink-40;
  all1mapPink30: $all1map-pink-30;
  all1mapPink20: $all1map-pink-20;
  all1mapPink10: $all1map-pink-10;
  all1mapPink0: $all1map-pink-0;
  all1mapYellow100: $all1map-yellow-100;
  all1mapYellow90: $all1map-yellow-90;
  all1mapYellow80: $all1map-yellow-80;
  all1mapYellow70: $all1map-yellow-70;
  all1mapYellow60: $all1map-yellow-60;
  all1mapYellow50: $all1map-yellow-50;
  all1mapYellow40: $all1map-yellow-40;
  all1mapYellow30: $all1map-yellow-30;
  all1mapYellow20: $all1map-yellow-20;
  all1mapYellow10: $all1map-yellow-10;
  all1mapYellow0: $all1map-yellow-0;
  all1mapGreen100: $all1map-green-100;
  all1mapGreen90: $all1map-green-90;
  all1mapGreen80: $all1map-green-80;
  all1mapGreen70: $all1map-green-70;
  all1mapGreen60: $all1map-green-60;
  all1mapGreen50: $all1map-green-50;
  all1mapGreen40: $all1map-green-40;
  all1mapGreen30: $all1map-green-30;
  all1mapGreen20: $all1map-green-20;
  all1mapGreen10: $all1map-green-10;
  all1mapGreen0: $all1map-green-0;
  all1mapCyan100: $all1map-cyan-100;
  all1mapCyan90: $all1map-cyan-90;
  all1mapCyan80: $all1map-cyan-80;
  all1mapCyan70: $all1map-cyan-70;
  all1mapCyan60: $all1map-cyan-60;
  all1mapCyan50: $all1map-cyan-50;
  all1mapCyan40: $all1map-cyan-40;
  all1mapCyan30: $all1map-cyan-30;
  all1mapCyan20: $all1map-cyan-20;
  all1mapCyan10: $all1map-cyan-10;
  all1mapCyan0: $all1map-cyan-0;
  all1mapPurple100: $all1map-purple-100;
  all1mapPurple90: $all1map-purple-90;
  all1mapPurple80: $all1map-purple-80;
  all1mapPurple70: $all1map-purple-70;
  all1mapPurple60: $all1map-purple-60;
  all1mapPurple50: $all1map-purple-50;
  all1mapPurple45: $all1map-purple-45;
  all1mapPurple40: $all1map-purple-40;
  all1mapPurple30: $all1map-purple-30;
  all1mapPurple20: $all1map-purple-20;
  all1mapPurple10: $all1map-purple-10;
  all1mapPurple0: $all1map-purple-0;
}
