@import "./alberto-colors";


$key-color-100: $blue-100;
$key-color-90: $blue-90;
$key-color-80: $blue-80;
$key-color-70: $blue-70;
$key-color-60: $blue-60;
$key-color-50: $blue-50;
$key-color-40: $blue-40;
$key-color-30: $blue-30;
$key-color-20: $blue-20;
$key-color-10: $blue-10;
$key-color-0: $blue-0;


//Dark theme
$theme--dark: map-merge(
  $carbon--theme--g100,
  (
    interactive-01: $key-color-50,
    interactive-04: $key-color-40,
    hover-primary-text: $key-color-20,
    hover-primary: $key-color-60,
    highlight: $key-color-80,
    active-primary: $key-color-70,
    link-01: $key-color-30,
    visited-link: $key-color-40,
    inverse-focus-ui: $key-color-60,
    inverse-link: $key-color-60,
  )
) !default;


//Light theme
$theme--light: map-merge(
  $carbon--theme--white,
  (
    interactive-01: $key-color-50,
    interactive-03: $key-color-70,
    interactive-04: $key-color-60,
    hover-primary-text: $key-color-70,
    hover-primary: $key-color-60,
    hover-tertiary: $key-color-60,
    highlight: $key-color-10,
    focus: $key-color-50,
    active-primary: $key-color-70,
    link-01: $key-color-60,
    visited-link: $key-color-50,
    inverse-link: $key-color-40,
  )
) !default;


:export {
  keyColor100: $key-color-100;
  keyColor90: $key-color-90;
  keyColor80: $key-color-80;
  keyColor70: $key-color-70;
  keyColor60: $key-color-60;
  keyColor50: $key-color-50;
  keyColor40: $key-color-40;
  keyColor30: $key-color-30;
  keyColor20: $key-color-20;
  keyColor10: $key-color-10;
  keyColor0: $key-color-0;
}
